apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: <%= name %>
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: openvpn
        run: squid-proxy
    spec:
      volumes:
      - name: client-config
        configMap: 
          name: <%= name %>
      - name: squid-proxy-config
        configMap: 
          name: squid-proxy-config
      containers:
      - name: openvpn
        image: registry.gitlab.com/k8s-msth/vpn-network:8d4d42b3a3d68def63c6a43efb85ec1acfd853c5
        volumeMounts:
        - name: client-config
          mountPath: /usr/src/app/client.ovpn
          subPath: client.ovpn
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
      - name: squid-proxy
        image: sameersbn/squid:3.5.27
        ports:
        - containerPort: 3128
        volumeMounts:
        - name: squid-proxy-config
          mountPath: /etc/squid/squid.conf
          subPath: squid.conf
      - name: curl
        image: registry.gitlab.com/k8s-msth/curl:a07358a7df7f3241b43230ca81f2cce51b7f6638
        command: ["sleep"]
        args: ["3600"]
        ports:
        - containerPort: 80
        readinessProbe:
          exec:
            command: ["curl", "google.com"]
          initialDelaySeconds: 5
          periodSeconds: 5
        # readinessProbe:
        #   failureThreshold: 10
        #   httpGet:
        #     path: /api/health
        #     port: 3000
        #     scheme: HTTP
        #   periodSeconds: 1
        #   successThreshold: 1
        #   timeoutSeconds: 1
      imagePullSecrets:
        - name: gitlab
      nodeSelector:
        beta.kubernetes.io/arch: amd64

